In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [65]:
df = pd.read_csv('dec19pub.csv')
df2 = pd.read_csv('hhpub19.csv')
df3 = pd.read_csv('pppub19.csv')
df4 = pd.read_csv('ffpub19.csv')

In [3]:
letters_in_dataframe = "HESS4" in df

In [4]:
print(letters_in_dataframe)

True

In [5]:
df.head()

,HRHHID,HRMONTH,HRYEAR4,HURESPLI,HUFINAL,HULANGCODE,HETENURE,HEHOUSUT,HETELHHD,HETELAVL,...,HRFS30D1,HRFS30D2,HRFS30D3,HRFS30D4,HRFS30D5,HRFS30D6,HRFS30D7,HRFS30D8,HRFS30D9,HRFS30DE
0,581125017600866,12,2019,2,201,0,1,1,1,-1,...,1,1,0,-6,1,0,-6,1,0,-6
1,581125017600866,12,2019,2,201,0,1,1,1,-1,...,1,1,0,-6,1,0,-6,1,0,-6
2,581125017600866,12,2019,2,201,0,1,1,1,-1,...,1,1,0,-6,1,0,-6,1,0,-6
3,581125017600866,12,2019,2,201,0,1,1,1,-1,...,1,1,0,-6,1,0,-6,1,0,-6
4,809001585510960,12,2019,1,201,0,2,1,1,-1,...,1,1,0,-6,1,0,-6,1,0,-6

In [6]:
#Pg 132- 'In the last 12 months did (you/you or other adults in your household) ever cut the size of your meals or skip meals because there wasn't enough money for food?'

In [7]:
# 1:Yes 
# 2:No 
# -1: (blank)
# -2:Don't Know 
# -3:Refused
# 9:No Response

In [8]:
df['HESH2'].value_counts()

-1    124421
 2      9728
 1      4713
-9        45
-3        37
-2        20
Name: HESH2, dtype: int64

In [9]:
# What does edited universe mean?

In [10]:
"HINC_FR" in df2

True

In [11]:
df2['HINC_FR']

0        0
1        0
2        0
3        2
4        0
        ..
94628    2
94629    2
94630    2
94631    2
94632    2
Name: HINC_FR, Length: 94633, dtype: int64

In [12]:
# Farm self-employment
#0 = nui 
#1 = yes
#2 = no
df2['HINC_FR'].value_counts()

2    67275
0    26288
1     1070
Name: HINC_FR, dtype: int64

In [13]:
# Own Business Self-Employment
#0 = nui 
#1 = yes
#2 = no
df2['HINC_WS'].value_counts()

1    51533
0    26288
2    16812
Name: HINC_WS, dtype: int64

In [14]:
#Number of persons in household
#00=Noninterview household      01-16 = Number of persons in HHLD
df2["H_NUMPER"].value_counts()

0     26288
2     21659
1     17197
3     11162
4     10392
5      4878
6      1991
7       651
8       242
9        90
10       51
11       17
13        8
12        4
14        2
16        1
Name: H_NUMPER, dtype: int64

In [15]:
# Region 
# 1 = Northeast          
# 2 = Midwest          
# 3 = South          
# 4 = West


df2["GEREG"].value_counts()

3    36727
4    24782
2    17504
1    15620
Name: GEREG, dtype: int64

In [16]:
# Metropolitan Status
# 1 = Metropolitan          2 = Non-metropolitan          3 = Not identified

df2["GTMETSTA"].value_counts()

1    75271
2    18375
3      987
Name: GTMETSTA, dtype: int64

In [17]:
# Family Income 
# -1=Not in universe         
#01=Less than $5,000         02=$5,000 to $7,499         03=$7,500 to $9,999         04=$10,000 to $12,499         05=$12,500 to $14,999         
#06=$15,000 to $19,999         07=$20,000 to $24,999         08=$25,000 to $29,999         09=$30,000 to $34,999         10=$35,000 to $39,999         11=$40,000 to $49,999         
#12=$50,000 to $59,999         13=$60,000 to $74,999         14=$75,000 to $99,999         15=$100,000 to $149,999         16=$150,000 and over

df2["HEFAMINC"].value_counts()

family_income = df2["HEFAMINC"]

In [18]:
#Number of persons in household age 5 to 18 excluding family heads and spouse 
# 00 = None      01-16 = Number persons 5 to 18
df2["HH5TO18"].value_counts()

0    72759
1    10622
2     7550
3     2694
4      718
5      216
6       52
7       15
8        4
9        3
Name: HH5TO18, dtype: int64

In [19]:
# HOUSEHOLD TYPE
#00 = Non-interview household         01 = Married couple primary family (neither spouse in Armed Forces)         02 = Married couple primary family (one spouse in Armed Forces)         03 = Unmarried civilian male primary family householder         04 = Unmarried civilian female primary family householder         05 = Primary family household -reference person in Armed Forces and unmarried         06 = Civilian male nonfamily householder         07 = Civilian female nonfamily householder         08 = Nonfamily householder household -reference person in Armed Forces         09 = Group quarters with actual families  (This is new in 1994)         10 = Group quarters with secondary individuals only
df2["HRHTYPE"].value_counts()

1     33987
0     26288
7     11179
6     10152
4      8763
3      3695
2       488
10       30
8        19
5        18
9        14
Name: HRHTYPE, dtype: int64

In [20]:
# Telephone in Household
#0 = Not in universe          1 = Yes          2 = No
df2["H_TELHHD"].value_counts()

1    71932
0    19812
2     2889
Name: H_TELHHD, dtype: int64

In [21]:
# Tenure
# 0=Not in universe          1=Owned or being bought          2=Rented         3=No cash rent

df2["H_TENURE"].value_counts()

1    48839
2    26451
0    18369
3      974
Name: H_TENURE, dtype: int64

In [22]:
#Total HouseHold Income
#UNDER $2,500    2=$2,500 TO $4,999    3=$5,000 TO $7,499    4=$7,500 TO $9,999    5=$10,000 TO $12,499    6=$12,500 TO $14,999    7=$15,000 TO $17,499    8=$17,500 TO $19,999    9=$20,000 TO $22,499    10=$22,500 TO $24,999
#11=$25,000 TO $27,49912=$27,500 TO $29,99913=$30,000 TO $32,49914=$32,500 TO $34,99915=$35,000 TO $37,49916=$37,500 TO $39,99917=$40,000 TO $42,49918=$42,500 TO $44,99919=$45,000 TO $47,49920=$47,500 TO $49,999
#21=$50,000 TO $52,49922=$52,500 TO $54,99923=$55,000 TO $57,49924=$57,500 TO $59,99925=$60,000 TO $62,49926=$62,500 TO $64,99927=$65,000 TO $67,49928=$67,500 TO $69,99929=$70,000 TO $72,49930=$72,500 TO $74,999
#31=$75,000 TO $77,49932=$77,500 TO $79,99933=$80,000 TO $82,49934=$82,500 TO $84,99935=$85,000 TO $87,49936=$87,500 TO $89,99937=$90,000 TO $92,49938=$92,500 TO $94,99939=$95,000 TO $97,49940=$97,500 TO $99,99941=$100,000 AND OVER


df2["HHINC"].value_counts()

0     26288
41    21122
13     1827
21     1759
15     1716
11     1665
9      1664
1      1659
17     1623
7      1599
5      1592
19     1474
25     1469
8      1387
10     1375
23     1336
6      1330
31     1245
4      1228
29     1216
14     1202
12     1198
27     1186
16     1174
33     1113
20     1074
18     1064
22     1031
37     1008
24      988
35      988
26      975
28      907
39      851
32      834
30      822
34      716
36      665
38      610
40      595
3       583
2       475
Name: HHINC, dtype: int64

In [23]:
# Household income = self-employment income 
# 0 = none negative dollar amount = income losspositive dollar amount = income

print(df2["HSEVAL"].min(), df2["HSEVAL"].max())

-19356 1102199

In [24]:
# Does anyone in the household have a disability or health problem which prevented them from working, even for a short time, or which limited the work they could do?
# 0 = niu 1 = yes 2 = no

df2["HDIS_YN"].value_counts()

2    67046
0    26288
1     1299
Name: HDIS_YN, dtype: int64

In [25]:
# At any time during 20.. did anyone in this household: own any shares of stock in corporations or any mutual fund shares?
# 0 = niu 1 = yes 2 = no

df2["HDIV_YN"].value_counts()

2    56438
0    26288
1    11907
Name: HDIV_YN, dtype: int64

In [26]:
# unemployment compensation
# 0 = niu 1 = yes 2 = no

df2["HINC_UC"].value_counts()

2    66671
0    26288
1     1674
Name: HINC_UC, dtype: int64

In [27]:
# workers compensation
#0 = niu 1 = yes 2 = no

df2["HINC_WC"].value_counts()

2    67856
0    26288
1      489
Name: HINC_WC, dtype: int64

In [37]:
## April 27

In [28]:
df2['HINC_FR'].value_counts()

2    67275
0    26288
1     1070
Name: HINC_FR, dtype: int64

In [29]:
farm_self = df2['HINC_FR']

In [30]:
people_self = df2['HINC_WS']

In [33]:
count = []

for i, j in zip(farm_self, people_self):
    if i == 1:
        count.append(i)
    if j ==1:
        count.append(i)

In [34]:
len(count)

52603

In [52]:
# new_dataframe = df[["HRHHID", "HESH2"]], df2[['HINC_FR', 'HINC_WS', "H_NUMPER", "GEREG", "GTMETSTA", "HEFAMINC", "HH5TO18", "HRHTYPE", "H_TELHHD", "H_TENURE", "HHINC", "HSEVAL", "HDIS_YN", "HDIV_YN", "HINC_WC"]]

In [83]:
new_dataframe = df2[['HINC_FR', 'HINC_WS', "H_NUMPER", "GEREG", "GTMETSTA", "HEFAMINC", "HH5TO18", "HRHTYPE", "H_TELHHD", "H_TENURE", "HHINC", "HSEVAL", "HDIS_YN", "HDIV_YN", "HINC_WC"]]

In [103]:
new_dataframe.sort_values(['HINC_FR'], ascending= False)

,HINC_FR,HINC_WS,H_NUMPER,GEREG,GTMETSTA,HEFAMINC,HH5TO18,HRHTYPE,H_TELHHD,H_TENURE,HHINC,HSEVAL,HDIS_YN,HDIV_YN,HINC_WC
94632,2,1,2,4,1,6,0,4,1,2,21,35000,2,2,2
80700,2,1,1,4,1,11,0,6,1,1,6,0,2,2,2
47730,2,2,2,3,1,10,0,4,1,1,1,0,2,2,2
80697,2,2,1,4,1,12,0,6,1,2,20,0,2,2,2
80698,2,2,1,4,1,11,0,6,1,2,12,0,2,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48588,0,0,0,3,1,-1,0,0,0,0,0,0,0,0,0
48598,0,0,0,3,1,-1,0,0,0,0,0,0,0,0,0
48604,0,0,0,3,1,-1,0,0,0,0,0,0,0,0,0
48606,0,0,0,3,1,-1,0,0,0,0,0,0,0,0,0
47316,0,0,0,3,2,-1,0,0,0,0,0,0,0,0,0

In [113]:
new_dataframe1 = []

for i in new_dataframe:
    if i == 1:
        new_dataframe1.append(list(new_dataframe.loc[i,:]))

In [114]:
new_dataframe1

[]

In [115]:
for i in new_dataframe:
    print(i)

HINC_FR
HINC_WS
H_NUMPER
GEREG
GTMETSTA
HEFAMINC
HH5TO18
HRHTYPE
H_TELHHD
H_TENURE
HHINC
HSEVAL
HDIS_YN
HDIV_YN
HINC_WC